################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HiEd/.vs/HiEd/v15/Server/sqlite3/db.lock
